body {
    background-color: whitesmoke;
}

h1 {
   text-align: center;
   color:#1f2221;
}

li {
    border: whitesmoke 1px solid;
    display: inline;
    padding: 10px;
    margin: 60px;
    background-color: green;
    color: whitesmoke;
}

ul {
    text-align: center;
}

img {
    height: 250px;
}

#firstimage {
    height: 400px;
}

#secondimage {
    height: 300px;
}

p {
    color: maroon;
}
